$prefix-cls: #{$namespace}-scroll;

.#{$prefix-cls} {
  height: 100%;
  overflow: hidden;
  position: relative;
  &-wrap {
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-thumb {
    cursor: pointer;
    position: absolute;
    // background-color: rgba(0, 0, 0, 0.2);
    // background-color: rgba(255, 255, 255, 0.2);
    background-color: #c9cacb;
    border-radius: 6px;
    right: 1px;
    top: 0;
    width: 8px;
    z-index: 999;
    &:hover {
      // background-color: rgba(255, 255, 255, 0.4);
      // background-color: rgba(0, 0, 0, 0.3);
      background-color: #b0b1b1;
    }

    &_visible {
      display: block;
    }
    &_hidden {
      display: none;
    }
  }
}
