$prefix-cls: #{$namespace}-menu;

.#{$prefix-cls} {
  height: 100%;
}

html.dark {
  .ant-menu {
    &-dark {
      background: $sider-dark-bg-color !important;
      .ant-menu-sub {
        background: $menu--dark-bg-color-item !important;
      }
    }
  }
}
