$prefix-bread-cls: '#{$namespace}-header-bread';
$prefix-menu-cls: '#{$namespace}-header-menu';

html {
  &.dark {
    .#{$prefix-tags-cls} {
      border-bottom: 1px solid var(--border-dark-color);
      &-wrapper {
        border-top: 1px solid transparent;
        border-bottom: 1px solid var(--border-dark-color);
      }
    }
  }
}

.#{$prefix-bread-cls} {
  height: 48px;
  & .trigger {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
    &:hover {
      color: $primary-color;
    }
  }
}

.#{$prefix-menu-cls} {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    background-color: #e5e5e5;
  }
}
