$todo-prefix-cls: #{$namespace}-todo-list;

.#{$todo-prefix-cls} {
  width: 460px;
  margin: 0 auto;
  .ant-card-body {
    padding: 12px;
  }

  &_item {
    height: 42px;
    border-bottom: 1px solid #eee;
  }

  &_func-list {
    height: 40px;
    background-color: #e8f0e9;
  }

  .finished {
    color: #b1afaf;
    text-decoration: line-through;
  }
}