$header-prefix-cls: 'lege-header';

$tag-prefix-cls: '#{$header-prefix-cls}-tag';

$tag-color-active: '#0960db';

.#{$header-prefix-cls} {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .trigger {
  //   height: 48px;
  //   line-height: 48px;
  // }

  &-menu {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.#{$tag-prefix-cls} {
  margin: 1px 0;
  height: 28px;
  background-color: #fff;
  box-sizing: border-box;

  &-item {
    line-height: 26px;
    font-size: 12px;
    &__action {
      color: #fff;
      background-color: #{$tag-color-active};
    }
    &:hover {
      cursor: pointer;
    }
    &:hover:not(&__action) {
      transition: 1s;
      color: #{$tag-color-active};
      .ant-tag-close-icon {
        color: #{$tag-color-active};
      }
    }

    .ant-tag-close-icon {
      color: #fff;
      width: 12px;
      &:hover {
        color: inherit;
        font-size: 12px;
      }
    }
  }
}
