$header-prefix-cls: 'lege-header';

$tag-color-active: '#0960db';

.#{$header-prefix-cls} {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-menu {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.header-tag {
  height: 28px;
  line-height: 24px;
  font-size: 12px;
  background-color: #fff;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
    &:not(.header-tag-action) {
      color: #{$tag-color-active};
      .ant-tag-close-icon {
        color: #{$tag-color-active};
      }
    }
  }
  .ant-tag-close-icon {
    color: #fff;
    width: 12px;
  }
}

.header-tag-action {
  background-color: #{$tag-color-active};
  color: #fff;
  .ant-tag-close-icon {
    color: #fff;
    &:hover {
      color: #fff;
      font-size: 12px;
    }
  }
}
