@use 'sass:color';

@mixin barColor($color) {
  background: scale-color($color, $lightness: +15%);
}

$prefix-cls: '#{$namespace}-scrollbar';

.#{$prefix-cls} {
  position: relative;
  height: 100%;
  overflow: hidden;

  &-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  &-track {
    &_thumb {
      position: absolute;
      right: 0;
      top: 0;
      background: pink;
      height: 20px;
      width: 8px;
    }
  }
  // ::-webkit-scrollbar-track
}
