:root {
  --border-dark-color: #303030;
  --border-light-color: #d9d9d9;
}

html {
  &.dark {
    :root {
      --text-color: #fff;
    }
  }
  &.light {
    :root {
      --text-color: #303030;
    }
  }
}

$border-color: var(--border-light-color);

$text-color: var(--text-color)

