$prefix-cls: '#{$namespace}-header';
$prefix-app-logo-cls: '#{$namespace}-app-logo';

.#{$prefix-cls} {
  height: auto;
  &-wrapper {
    height: 48px;
    .ant-menu {
      height: 48px;
    }
  }

  .#{$prefix-app-logo-cls} {
    span {
      color: $text-color;
    }
  }
}
