$prefix-cls: '#{$namespace}-about';

.#{$prefix-cls} {
  .ant-card-head {
    padding: 0.6rem 1rem;
    font-weight: normal;
    font-size: 14px;
    min-height: auto;
  }
  .ant-card-body {
    padding: 0.5rem;
  }
}
