@use '../assets/fonts/fonts.css';

@forward './theme';
@import './var';

html,
body {
  width: 100vw;
  height: 100vh;
}
img {
  // 禁止拖动图片
  -webkit-user-drag: none;
}

// $border-light: 1px solid $border-light-color;

$color: red;

$namespace: 'lege';

:root {
  --border-color: $color;
}