$white: #fff;
$light-bg-color: #fff;

$dark: #333;
$dark-bg-color: #23272f;

$sider-light-bg-color: #001529;
$sider-dark-bg-color: #212121;
$menu--dark-bg-color-item: #2d2d2d;

html {
  &.dark {
    color-scheme: dark;
    color: #fff;
    background-color: $dark-bg-color;
  }
  &.light {
    color-scheme: light;
    color: #333;
    background-color: $light-bg-color;
  }
}
