$prefix-cls: #{$namespace}-layout;

$prefix-sider-cls: #{$namespace}-sider;

.#{$prefix-cls} {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  &-content {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

html.dark {
  .ant-layout-sider {
    &-dark {
      background-color: $sider-dark-bg-color !important;
    }
  }
}
